<div id="<%= dom_id name %>">
  <p>
    <strong>Author:</strong>
    <%= name.author %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= name.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= name.category %>
  </p>

</div>
